<nav>
  <ul class="nav pull-right">
    <li><%= link_to "Getting Started",    getting_started_path %></li>
    <li><%= link_to "Saving",    saving_path %></li>
    <li><%= link_to "Spending", spending_path %></li>
    <li><%= link_to "Investing", investing_path %></li>
    <li><%= link_to "News", news_path %></li>
  </ul>
</nav>
